    # Ignore Python cache files
    __pycache__
    *.pyc
    *.pyo

    # Ignore virtual environments
    venv/
    env/
    fresh_venv/

    # Ignore version control directories
    .git
    .gitignore

    # Ignore other unnecessary files
    .DS_Store
    node_modules/