# Virtual environment
venv/lib
venv/include
venv/lib
fresh_venv/
env/
__pycache__/


# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Local configuration
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# OS specific
.DS_Store

# Temporary files
*.tmp

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage